body{
  /* reset */
  margin: 0;
  padding: 0;
}

h1 {
  font-family: arial;
  font-weight: bold;
  color: darkred;
}

nav {
  border-bottom: 1px solid grey;
}

nav * {
  margin-right: 1em;
}

main {
  display: flex;
  flex-wrap: start;
  align-items: stretch;
}

.cuadro {
  flex: 0 0 200px;
  margin: 2em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.cuadro img {
  max-width: 100%;
}

.cuadro p {
  font-family: arial;
  color: darkgrey;
  padding: 0 1em 0 1em;
}

.cuadro p:first-of-type {
  font-weight: bold;
}

.cuadro .botones img:nth-child(3){
  float: right;
  top: 0px;
}

button, .cuadro img, .activo {
  cursor: pointer;
}

#divModal{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:10;
  top: 0;
}

/** Ventana Modal **/
#divModal > div{
  background-color: white;
  height: 80%;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: row;
}

/* x de cierre del modal */
#divModal > div > span{
  font-family: sans-serif;
  color: grey;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 90%;
}

/* Imagen principal */
#divModal > div > img{
  align-self: center;
  cursor: zoom-in;
  max-width: 70%;
  max-height: 90%;
}

/* div con thumbnails */
#divModal > div > div{
  flex-grow: 1; /* Para que ocupe el espacio restante */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 1em;
}

/* thumbnails */
#divModal > div > div > img{
  max-width: 100px;
  max-height: 100px;
  border: 2px solid lightblue;
  cursor: pointer;
  margin: 0.5em;
}
